/* DELETE SOON AS I CAN */
#spacer {
    height: 100px;
}

body {
    overflow-x: scroll;
}

.grid-container {
    display: grid;
    grid-template-columns: 6fr 10fr 4fr repeat(6, 1fr);
    max-width: 1000px;
    margin: 0 auto;
    /* justify-content: center; */
    grid-auto-rows: 80px;
    grid-template-rows: 50px; /* for the first row, which has labels */
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    /* height: 100vh; */
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}
.row {
    display: grid;
    grid-template-columns: 6fr 10fr 4fr repeat(6, minmax(0, 1fr));
    /* margin: 10px auto; */
    max-width: 1200px;
    grid-auto-rows: 60px;
    grid-column-gap: 10px;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 1100px;
}

#labels {
    background-color: #60e;
    font-size: 0.8rem;
}

.row .site,
.row .password,
.row .number {
    background-color: #ebd;
    border: 1px solid #000;
}

.row .upper,
.row .lower,
.row .nums,
.row .dollar-sign,
.row .at-sign,
.row .exclamation-point {
    background-color: rgb(67, 235, 179);
    border: 1px solid #000;
    overflow: visible;
}
