body {
    overflow-x: scroll;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}
.row {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    /* grid-template-columns: 6fr 10fr 4fr repeat(6, 1fr); this will be used if the checkboxes come back*/
    /* margin: 10px auto; */
    max-width: 1200px;
    grid-auto-rows: 60px;
    grid-column-gap: 10px;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 900px;
}

#labels {
    background-color: #60e;
    font-size: 0.8rem;
}

.row .site,
.row .password,
.row .number,
.row .copy {
    background-color: #ebd;
    border: 1px solid #000;
}

/* .row .upper,
.row .lower,
.row .nums,
.row .dollar-sign,
.row .at-sign,
.row .exclamation-point, */
.row .calculate {
    background-color: rgb(67, 235, 179);
    border: 1px solid #000;
    overflow: visible;
}

.calculate,
.copy {
    cursor: pointer;
}
.copy:hover {
    color: #ddd;
    background-color: #333;
}
.copy:active {
    color: #d63;
    background-color: #000;
}
.calculate:hover {
    color: #fff;
    background-color: #68d;
}
.calculate:active {
    color: #4f6;
    background-color: #60e;
}
