body {
    overflow-x: scroll;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    margin: 0;
    background-color: #345;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid #283228;
}
.row {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
    /* grid-template-columns: 6fr 10fr 4fr repeat(6, 1fr); this will be used if the checkboxes come back*/
    /* margin: 10px auto; */
    max-width: 1200px;
    grid-auto-rows: 60px;
    grid-column-gap: 10px;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 900px;
    font-size: 1.2rem;
}

#labels {
    background-color: #283228;
}

.row div {
    background-color: #bbd;
    border: 1px solid #000;
    padding: 3px;
}

#labels div {
    background-color: #99b;
    user-select: none;
}

/* .row .upper,
.row .lower,
.row .nums,
.row .dollar-sign,
.row .at-sign,
.row .exclamation-point, */
.row .calculate {
    background-color: rgb(67, 235, 179);
    border: 1px solid #000;
    overflow: visible;
}

.site {
    user-select: none;
}

.password {
    user-select: all;
}

.number input {
    /* width: 100%; */
    height: 100%;
}

.calculate,
.copy {
    cursor: pointer;
    user-select: none;
}
.copy:hover {
    color: #ddd;
    background-color: #333;
}
.copy:active {
    color: #d63;
    background-color: #000;
}
.calculate:hover {
    color: #fff;
    background-color: #68f;
}
.calculate:active {
    color: #4f6;
    background-color: #60e;
}
